---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Sisterhood - Terapia y consultoría psicológica.">
<section class="max-w-5xl mx-auto mt-16">
    <article>
        <h3 class="text-2xl text-center py-6 text-primary">5 Razones por qué escoger SISTERHOOD para hacer terapia.</h3>

        <div class="px-2 lg:px-0">
            <img class="rounded-lg" src="/images/cinco-razones.png" alt="Mujer: relación con su cuerpo y mente en sus diferentes etapas de la vida.">
        </div>

        <div class="py-6">
            <p class="p-2 text-balance mb-6">¿Estás buscando un lugar para tu crecimiento personal o un acompañamiento para resolver los conflictos que te aquejan y avanzar, pero aún no te decides con qué terapeuta ir?
            </p>
            <p class="p-2 text-balance">
                Te compartimos los valores de nuestros servicios. 
            </p>
            <div class="pl-12">
                <ul class="list-decimal">
                    <li>
                        <strong>Nuestra premisa es que SISTERHOOD es un espacio creado por mujeres</strong>, para mujeres con un enfoque holístico. Donde la mente y el cuerpo en sus diferentes etapas son el marco para la evaluación inicial. A través de una primera entrevista enfocada en la terapia breve, se recoge en una historia clínica los antecedentes más relevantes del paciente, para trabajar en terapia.
                    </li>
                    <li>
                        <strong>La directora de la Institución, la Lic. Silvia Chirinos Medrano es psicóloga clínica con 20 años de experiencia</strong>. Donde cada paciente es atendido de manera personal y cercana.
                    </li>
                    <li>
                        <strong>A través de consultas online en la comodidad de un clic</strong>, ofrecemos un espacio seguro, comprensivo y respetuoso para que puedas explorar situaciones y emociones que no te dejan avanzar en tus diferentes roles. 
                    </li>
                    <li>
                        <strong>Te ayudamos a través de terapia 1:1 o grupal (Masterclass)</strong> a identificar patrones de pensamientos negativos y creencias limitantes; fomentando la autoestima y la autoconfianza a través de herramientas que puedes poner en práctica inmediatamente.
                    </li>
                    <li>
                        <strong>Nuestro objetivo</strong> es propiciar el autoconocimiento para que las mujeres puedan tomar decisiones conscientes y asertivas. Explorando y conociendo sus sentimientos; permitiéndoles vivir una vida plena.
                    </li>
                </ul>
            </div>
            <p class="py-2 mt-4 text-balance">
                Si crees que podemos ser parte de tu vida, y ayudarte a tu autodescubrimiento, puedes escribirnos en nuestro portal, donde encontrarás un espacio para conectarnos. O nos puedes dejar un DM en Instagram y en Facebook @sisterhoodterapia. 
            </p>
        </div>
        <div class="py-6 mb-4">
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </article>
</section>
</Layout>