---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Sisterhood - Terapia y consultoría psicológica.">
<section class="max-w-5xl mx-auto mt-16">
    <article>
        <h3 class="text-2xl text-center py-6 text-primary">5 Razones por qué escoger SISTERHOOD para hacer terapia.</h3>

        <div class="px-2 lg:px-0">
            <img class="rounded-lg" src="/images/cinco-razones.png" alt="Mujer: relación con su cuerpo y mente en sus diferentes etapas de la vida.">
        </div>

        <div class="py-6">
            <p class="p-2 text-balance"><em>
                Es visible cuando LA MUJER se transforma. En plena adolescencia empiezan los cambios físicos con la llegada de la menstruación; marcando un antes y un después. A la par de estos cambios, también la mujer comienza a cuestionarse y a construir paradigmas  mentales. Muchas mujeres logran identificarlo y atenderlo, pero otras al confrontar ciertos pensamientos lo evaden, o lo niegan. Transitan otras etapas de su vida como: maternidad temprana o tardía, mujeres que deciden no maternar, mujeres en peri o menopausia ya sea de forma natural o quirúrgica,  y no logran ver la vinculación entre pensamiento y cuerpo.</em>
            </p>
            <p class="p-2 font-semibold">Lic. Silvia Chirinos Medrano. Psicólogo Clínico.</p>
            <br>
            <p class="p-2 text-balance">
                Cada etapa en el desarrollo de la mujer es importante. <strong>Durante la adolescencia</strong> lo que urge es sentirte cómoda en tu piel, encontrar quien eres y pertenecer a un grupo; comienzan  los síntomas o señalamiento de tu feminidad ante el periodo menstrual. <strong>Cuando alcanzas los 20's</strong> estas saliendo al mundo, con ganas de convertirte en todo aquello que sueñas y pensando en el futuro inmediato. <strong>A los 30`s</strong> se inicia un proceso de revisión de que has hecho, que deseas seguir alcanzando y comienza el cuestionamiento de todo aquello que la sociedad está esperando de ti, y que para la edad deberías tener. Por ejemplo, a los treintas se espera que seas una profesional destacada, en matrimonio y con hijos; mientras que tu cuerpo te avisa que estás cerca de iniciar una nueva etapa. 
            </p>
            <p class="p-2 text-balance">
                <strong>A los 40 años dejas de fantasear</strong>, y empiezas a percibir cómo contrasta tu vida  con la realidad de tu cuerpo… Las líneas de expresión, las canas, el peso difícil de bajar, el desenfoque mental, la resequedad en tu piel y otras zonas,  invita a visibilizar el tiempo en tu cuerpo que no corresponde con tu energía vital. Al tiempo empiezas a cuestionarte tus propósitos, y lo que has logrado hasta ahora. <strong>Estás en un punto que te cuestionas todo</strong>, te planteas posibilidades de cosas que antes no habías hecho. Y las hormonas comienzan a golpear tu estado emocional ante el inicio de la <strong>PERIMENOPAUSIA</strong> - que según expertos indican que tiene una duración entre 6 y 8 años - y la <strong>MENOPAUSIA</strong> - que se hace visible cuando cumples un año sin menstruar y te acompaña hasta tu muerte -. Muchas mujeres atañen su efervescencia emocional a problemas inherentes a su día a día, y no lo vinculan con el cambio neuroquímico y hormonal que están atravesando. 
            </p>
            <p class="p-2 text-balance">
                Descubrir, reconocer y aprender  que <strong>cada ciclo biológico de la mujer está sujeto a una historia de vida</strong> (enfermedades y padecimientos mentales). Y cómo esta situación está vinculada a pensamientos construidos en el hogar y  desde lo colectivo, hacen que en su conjunto marque el AQUÍ Y EL AHORA de cada una de nosotras. 
            </p>
            <p class="p-2 text-balance">
                La psicología cognitiva propone cómo nosotros percibimos el mundo a través de esos constructos, creados a partir de las creencias y valores que conceptualizamos; desde que vamos creciendo biológicamente afectando directamente a nuestra vida. 
            </p>
            <p class="p-2 text-balance">
                <strong>Cuando alcanzamos los 50 años</strong>, el cuerpo sufre un declive notorio, la menstruación desaparece a la mayoría de las mujeres, y por ende dejamos de reproducirnos. Estos cambios biológicos, vienen acompañados de un descontrol hormonal, calores nocturnos, sequedad en la piel, neblina mental, malhumor, falta de líbido, pérdida de masa muscular, entre otras características asociadas. <strong>Esto va a impactar en nuestro estado de ánimo</strong>, y en algunas oportunidades nos pone en perspectiva de cómo queremos envejecer. 
            </p>
            <p class="p-2 text-balance"><strong>Ser longevos es una realidad, por lo que recomiendo no llegar a esta edad para atender tu salud física y mental.</strong></p>
            <p class="p-2 text-balance">
                Si esto te resonó hasta el momento, permanece en esta página web y recomiéndanos a esas mujeres que necesitan un acompañamiento amoroso y respetuoso en cada una de sus etapas. 
            </p>
            <p class="p-2 text-balance">
                Más allá de lo racional, está lo humano, esto es lo que encontrarás en este portal.  
            </p>
        </div>
        <div class="py-6 mb-4">
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </article>
</section>
</Layout>