---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Sisterhood - Terapia y consultoría psicológica.">
<section class="max-w-5xl mx-auto mt-16">
    <article>
        <h3 class="text-2xl text-center py-6 text-primary font-semibold">SISTERHOOD: el arte de sanar y crecer juntas.</h3>

        <div class="px-2 lg:px-0">
            <img class="rounded-lg" src="/images/el-arte-de-sanar.png" alt="Mujer: relación con su cuerpo y mente en sus diferentes etapas de la vida.">
        </div>

        <div class="py-6">
            <p class="p-2 text-balance"><em>
                Desde tiempos ancestrales, las mujeres han creado redes de apoyo que fortalecen el bienestar emocional. Hoy, esos colectivos femeninos persisten en comunidades físicas y digitales, ofreciendo contención, sanación y empoderamiento a través de vínculos auténticos basados en la sororidad, el acompañamiento y el autocuidado, una verdadera hermandad.</em>
            </p>
            <p class="p-2 font-semibold">Lic. Susana Chirinos Medrano.</p>
            <br>
            <p class="p-2 text-balance">
                <strong>La tribu</strong>, según el diccionario de la Real Academia Española, <strong>es un grupo social primitivo de un mismo origen, cuyos miembros suelen tener en común usos y costumbres</strong>. Por lo tanto, esta palabra, que ha estado tan en boga en los discursos de los últimos años, no es un invento moderno. Podríamos decir que puede considerarse una fuerza ancestral que habita en la memoria colectiva de las mujeres.
            </p>
            <p class="p-2 text-balance">
                <strong>Desde tiempos remotos, la tribu femenina ha sido un espacio de sostén y transmisión de saberes</strong>. Por ejemplo, los primeros seres humanos se dividían en cazadores y recolectores, y estos últimos, en su mayoría, estaban conformados por mujeres, ancianas y niños. Así, la feminidad se ha vinculado históricamente con la comunidad, el cuidado, la sabiduría compartida y la creación de redes de apoyo emocional.
            </p>
            <p class="p-2 text-balance">
                <strong>En todas las culturas encontramos ejemplos de vínculos entre mujeres que sostenían a otras</strong>: las parteras, las sanadoras, las maestras. Todas ellas ocupaban un lugar privilegiado dentro de su comunidad y eran apreciadas por sus conocimientos y habilidades para cuidar y acompañar. <strong>Esta fuerza femenina ancestral ha resistido el paso del tiempo</strong> y se ha transformado en lo que hoy conocemos como comunidad de mujeres, un espacio vital para el bienestar emocional. 
            </p>
            <p class="p-2 text-balance">
                Aunque las formas hayan cambiado, la esencia se mantiene. <strong>Hoy en día, las redes de mujeres se agrupan en torno a experiencias comunes</strong>. Madres primerizas, mujeres que atraviesan un duelo, grupos de lectura, amigas de la infancia. Incluso el entorno digital ha facilitado la expansión de estos círculos de mujeres, donde, desde distintos puntos del planeta, continúan ejerciendo actos de contención y solidaridad.
            </p>
            <p class="p-2 text-balance">
                Existen ejemplos claros de estas tribus modernas. En México, <strong>las doulas de los colectivos Parteras Urbanas y Doulas de México combinan prácticas ancestrales con la medicina contemporánea</strong> para acompañar partos respetuosos. En <strong>España</strong>, plataformas como la Red de Mujeres Emprendedoras o Mujeres que Emprenden <strong>impulsan el empoderamiento femenino a través de mentorías, financiamiento colectivo y colaboración</strong>. En <strong>Colombia, el movimiento Tejiendo Sororidad</strong> conecta a mujeres rurales para desarrollar proyectos de agricultura sostenible. Y en <strong>Chile, el Círculo de Mujeres Medicina</strong> rescata los saberes de sanación emocional a través de distintas ceremonias.
            </p>
            <p class="p-2 text-balance">
                Esta sororidad cotidiana permite no solo alcanzar derechos fundamentales, sino también recuperar la fortaleza que nace del apoyo mutuo y la validación emocional. <strong>Construir una red no es solamente reunirse, sino crear un espacio de autocuidado y feminidad, de escucha activa y crecimiento compartido</strong>.
            </p>
            <p class="p-2 text-balance">
                Lo he vivido en carne propia. Mi padre nos crió a mis hermanas y a mí como una unidad. A pesar de nuestras diferencias, siempre hemos podido contar unas con otras. Y cuando la migración nos separó, descubrí que las redes de apoyo también se pueden crear desde la distancia: una videollamada inesperada, un mensaje de aliento, o la formación espontánea de una asociación por una causa común. <strong>La psicología y feminidad contemporáneas reconocen este poder porque el acompañamiento femenino mejora el autoconocimiento, disminuye la ansiedad, fortalece la autoestima y protege la salud mental de las mujeres</strong>. 
            </p>
            <p class="p-2 font-semibold">Porque florecer en comunidad no solo es posible, es necesario.</p>
            <p class="p-2 text-balance">
                Aunque muchas veces no lo veamos, la tribu siempre ha estado ahí, sosteniéndonos. Invisibles, pero juntas desde siempre.
            </p>
            <p class="p-2 text-balance">
                <strong>Hoy, tienes esa comunidad en SISTERHOOD</strong>, un espacio donde podrás transitar  los roles de las mujeres acompañada de una mano sólida y amorosa. <strong>Un refugio para el crecimiento emocional femenino, donde cada palabra, cada abrazo, cada historia compartida se convierte en parte de tu fuerza</strong>. No tienes que recorrer el camino sola: la hermandad te espera.
            </p>
        </div>
        <div class="py-6 mb-4">
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </article>
</section>
</Layout>