---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Sisterhood - Terapia y consultoría psicológica | Hubo un error, la página no existe.">
<section class="max-w-5xl mx-auto text-center mt-16">
    <h2 class="text-4xl py-6 text-primary">404</h2>
    <p class="text-xl py-6">La página que intentas buscar ya no existe.</p>
    <a href="/" class=" text-lg block p-4 hover:text-primary">volver al inicio</a>
</section>
</Layout>