---
---
 <section id="book" class="text-primary py-4">
    <div
      class="flex flex-col md:flex-row mx-auto bg-light md:rounded-xl max-w-7xl px-4 py-12 sm:px-6 lg:px-8 lg:pt-12"
    >
      <div class="w-1/2 p-2">
        <p>AGENDA TU CONSULTA</p>
        <h4 class="text-3xl py-4">
          Comienza tu proceso de autodescubrimiento, bienestar mental y físico
        </h4>
        <p>Conecta con nosotros para programar tu primera consulta.</p>
        <div class="flex flex-col mt-10">
          <a href="mailto:sisterhoodconsultorioonline@gmail.com " class="inline-flex py-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25"
              ></path>
            </svg>
            <span class="ml-2 text-md">sisterhoodconsultorioonline@gmail.com</span>
          </a>

          <a href="tel:+525612933684" class="inline-flex py-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z"
              ></path>
            </svg>

            <span class="ml-2 text-md"
            >+52 56 1293 3684</span
          ></a>
          </a>
        </div>
      </div>
      <div class="w-full mt-4 md:mt-0 bg-extra-light rounded-xl p-6 md:w-1/2">
        <h4 class="text-4xl font-semibold p-2">Escríbenos para obtener más información</h4>
        
        <div>
          <form name="contact" action="/contact-success" netlify>
            <p class="p-2">
              <label>Nombre completo <span class="text-red-400">*</span></label>
              <input type="text" name="name" class="rounded-lg p-4 w-full" placeholder="Escribe tu nombre" required />
            </p>
            <p class="p-2">
              <label>Correo Electrónico <span class="text-red-400">*</span></label>
              <input type="email" name="email" class="rounded-lg p-4 w-full" placeholder="email@dominio.com" required />
            </p>
            <p class="p-2">
              <label>Teléfono</label>
              <input type="tel" name="phone" class="rounded-lg p-4 w-full" placeholder="Opcional puedes dejar tu teléfono" />
            </p>
            <p class="p-2">
              <label>Mensaje</label>
              <textarea name="message" class="rounded-lg p-4 w-full" rows="4" placeholder="Déjanos tu mensaje..." />
            </p>
            <p class="p-2">
              <button class="px-4 py-2 rounded-lg bg-primary text-white hover:bg-secondary" type="submit">Enviar</button>
            </p>
          </form>
        </div>
      </div>
    </div>
</section>