---
---
 <section id="testimonials" class="text-center text-primary py-4">
    <div class="mx-auto max-w-screen-xl px-4 py-10 sm:px-6 lg:px-8 lg:pt-16">
      <h3 class="text-2xl md:text-3xl py-4 mb-4">Testimonios</h3>

      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Los slides -->
          <div class="swiper-slide">
            <div
              class="relative max-w-7xl rounded-xl bg-gray-200 p-12 text-start text-balace"
            >
              <p class="py-2">
                "Jamás me imaginé que mi relación con la comida pudiese convertirse en
                algo tan indiferente para mí. Y es que no es ni fue una decisión
                consciente de mi parte; a mí simplemente me dejaron de dar ganas de
                comer. Perdí el gusto por saborear cualquier alimento que probaba.
                Reconozco que más de una vez pasé el día entero sin probar bocado
                alguno sin percatarme de lo que estaba haciendo. Y no, no era por ese
                ideal de belleza que venden las redes sociales, las series o las
                películas. Simplemente no recibía esa señal de que mi cuerpo
                necesitaba comer.
              </p>
              <p class="py-2">
                Con el tiempo, empecé a notar las consecuencias: el cansancio, los
                mareos. Fue ahí cuando entendí que necesitaba ayuda. Llevo ya varios
                años en terapia, y fue gracias a la terapia que descubrí que mi
                relación con la comida es una historia que merece ser contada.
              </p>
              <p class="py-2">
              Las sesiones con mi psicóloga han sido un espacio donde me he sentido acompañada,
              segura, sin juicios. Tiene una manera tan cálida y amable de estar presente,
              que desde el primer momento me sentí en confianza. Ella no busca encasillarme,
              me escucha de verdad, con curiosidad sincera, queriendo entender quién soy
              más allá de la imagen que proyecto al mundo."</p>

              <div
                class="absolute top-full right-10 w-0 h-0 border-t-8 border-t-gray-200 border-l-8 border-l-transparent border-r-8 border-r-transparent"
              >
                <p class="text-end p-2"><span class="font-semibold">"C.M"</span></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="relative max-w-7xl rounded-xl bg-gray-200 p-12 text-start text-balace">
              <p class="py-2">"Hace algunos años llegué a un consultorio con lentes oscuros y una chaqueta que usaba para ocultar lo que fuera necesario en ese momento. No iba por mi, acompañaba a otra persona, sin embargo  recuerdo que salió,  me miró y dijo:
              "- ¿Tú  no estás bien? "
              Me invitó a pasar,  me sentó y me escuchó, lloré hasta quedarme sin aire.
              Gracias Silvia por reconocerme. Viste a través de los lentes el dolor, el huracán en mi cabeza y como la  esperanza  empezaba a ser nula.</p>
              <p class="py-2">Gracias por ese espacio seguro para hablar, alcanzarme el papel y recordarme una y otra vez que puedo salir de la oscuridad.
              Gracias por la franqueza , por tú profesionalismo y por tú luz.</p>
              <p class="py-2">Me has salvado y con ello la vida de otros, por que pude haber roto su alma de manera irreparable.
              Gracias por darme la explicación de esos dolores que atraviesan la razón, por las herramientas para aprender a caminar en una vida que aunque no es nada fácil empiezo a entender que la puedo transitar con felicidad, ahora tengo aguja e hilo para coser las heridas.  
              Si me lees sé que tú también puedes, confía en que las heridas se pueden cerrar, el alma puede dejar de sangrar, las ventanas del entendimiento se pueden abrir. Sin dudarlo un minuto  se que esté espacio puede ayudarte como a mi."</p>
              <div
                class="absolute top-full right-10 w-0 h-0 border-t-8 border-t-gray-200 border-l-8 border-l-transparent border-r-8 border-r-transparent"
              >
                <p class="text-end p-2"><span class="font-semibold">"S.T"</span></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Si necesitamos paginación -->
        <div class="swiper-pagination"></div>

        <!-- Si necesitamos botones de navegación -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>

  <script>
  // Core de Swiper y estilos
  import Swiper from 'swiper';
  import 'swiper/css';
  // Módulo Navigation de Swiper y estilos
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";

  // Configurar Swiper
  const swiper = new Swiper(".swiper", {
    modules: [Navigation], // definir los módulos a usar
    loop: true,            // definir si los slides estarán en bucle
    slidesPerView: 1,      // agregar número de slides para la pantalla
    spaceBetween: 40,      // separación entre slides en px
    navigation: {          // definir botones next y prev para el módulo Navigation
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    }
  });
</script>

<style>
  .swiper-slide {
    min-height: 400px;
  }
  /* .swiper-slide div {
    width: 100%;
    height: 100%;
  } */
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--primary)
  }
</style>